:root{
    --font-border-color:#1d3124;
    --lightBackground:#F6F4E8;
    --cardColor:#bacec1;
}
.heading{
    text-align: center;
    font-family: 'Courgette', cursive;
    color:var(--font-border-color);
    font-size:4em;
    
}
/* to make underline heading disappear */
a:visited{
    text-decoration: none;
    color: var(--lightBackground);
}

a:hover{
    color: var(--cardColor);
}
header{
    display: flex;
    justify-content: flex-end;
    margin: 3rem;
}
.jokeContainer{
    font-size: 1.5rem ;
    margin-top: 1rem;
    width: 30%;
    font-style: italic;
    color: var(--font-border-color);
}
#nav{
    background-image: linear-gradient(to bottom left , #e9ab82 31%, #f3d880 100%);
    border-radius: 5px;
    border: none;
    color: white;
    margin-right: 15px;
}
html{
    background-color: var(--lightBackground);
}
input{
    border-color: var(--font-border-color);
   margin-right: 5px;
    border-radius: 5px;
    padding: 2px;
    color: var(--font-border-color);
    background-color: var(--lightBackground);
    height: 2rem;
    font-size: 1.5rem;
    
}
.Button{
    background-image: linear-gradient(to bottom left , #e9ab82 31%, #f3d880 100%);
    border-radius: 5px;
    border: none;
    padding: 5px;
    color: white;
    margin-right: 15px;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
}
.userContainer{
    margin-left:6rem;
}
.ingredientsList{
    color: var(--font-border-color);
    font-size: 2rem;
}